@import url('http://fonts.googleapis.com/css?family=Ubuntu');

body {
    padding-top: 160px;
    font: 16px/1.625em 'Ubuntu',Tahoma,sans-serif;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    text-rendering: optimizeLegibility
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Ubuntu',Tahoma,sans-serif;
}

.navbar {
    padding: 0;
    background: #fff;
    border:0;
    border-radius:0;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

.navbar-form {
    padding: 0;
}

.esu-sidenav {
    padding: 0;
    text-shadow: 0 1px 0 #fff;
    background-color: #FAFAFA;
    border-radius: 5px;
}

.esu-sidenav > li.nav-header {
    padding: 5px;
}

.esu-sidenav > li.active > a, .esu-sidenav > li.active:hover > a, .esu-sidenav > li.active:focus > a {
    font-weight: bold;
    color: #808080;
    background-color: #EEEEEE;
    border-right: 1px solid #808080;
}

.footer {
    margin-top: 20px;
    padding: 20px 0;
    background-color: #FAFAFA;
    color: #777;
}

.navbar .nav > li > a {
    border-right: 0;
    border-left: 0;
}

.navbar-brand {
    float: none;
    padding: 0;
}

.navbar-collapse {
    padding: 0;
}

.versiculo > p {
    font-size: 1.2em;
    font-weight: bold;
}

.fb-comments span {
    width: 100% !important;
}
.fb-comments iframe {
    width: 100% !important;
}

.leftfooter {
    text-align: left;
}

.centerfooter {
    text-align: center;
}

.rightfooter {
    text-align: right;
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
}

/* Desktop
------------------------- */
@media (max-width: 1199px) and (min-width: 981px) {

}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {

    .navbar .brand {
        font-size: 2em;
    }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    body {
        padding-top: 120px;
    }

    .navbar {
        padding: 0 5px;
    }

    .navbar .brand {
        font-size: 1.5em;
    }

    .navbar-form .form-group {
        padding: 0 15px;
    }

    .navbar-toggle {
        margin-top: 30px;
    }

    .leftfooter {
        text-align: center;
    }

    .rightfooter {
        text-align: center;
    }

}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {

    .navbar-brand > img {
        width: 75%;
    }

    .navbar .brand {
        font-size: 1.5em;
    }

    .leftfooter {
        text-align: center;
    }

    .rightfooter {
        text-align: center;
    }

}

